body{
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}
.nome1{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    grid-template-rows:  repeat(3, 1fr);
    height: 600px;
    width: 800px;
    background-color: aquamarine;   

}

.nome2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    height: 180px;
    width: 700px;
    background-color: burlywood;
    border: 2px solid black;
}
.nome3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 180px;
    width: 700px;
    background-color: chartreuse;
    border: 2px solid black;
}
.nome4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 180px;
    width: 700px;
    background-color: cadetblue;
    border: 2px solid black;
}
.nome5{
    display: grid;
    grid-row: 2;
    height: 80px;
    width: 90px;
    background-color: coral;
    border: 2px solid black;
    justify-self: center;
}