html{
    box-sizing: border-box;

}

*, *::before, *::after{
    box-sizing: inherit;

}

body{
    display: flex;
    flex: 1;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    width: 500px;
    height: 500px;
    padding: 90px;
    background-color: #fffcfc;
    max-width: 80%;
    margin: auto;
    border: 2px #2f2f2f solid;
    justify-content: center;
    
}

.form-group{
    display: flex;
    align-items: end;
    gap: 20px;
    margin: 20px 0px;
    
}
.val{
    width: 100px;

}
.container button{
    border: 2px solid #2f2f2f;
    border-radius: 20px;
    width: 10.5rem;
    height: 3rem;
    align-self: center;
    background-color: transparent;
    font-size: 20px;
}
button:hover{
    cursor: pointer;
    background-color: #ffdcdc;

}
label{
    font-size: 30px;
    padding: 0px;
    margin: 0px;

}