:root{
    --card-color: #00ffff;

}

form{
    display: flex;
    border: 2px solid black;
    flex-flow: column;
    align-items: center;
    
}
h1{
    text-align: center;

}
.group{
    display: flex;
    flex-flow: column;
    align-items: start;

}
.card{
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: stretch;
    border: 2px solid black;
    border-radius: 30px;
    padding: 20px;
    width: 500px;
    margin: 20px;
    background-color: var(--card-color);
}
.card p,
.card .nome {
    width: 100%;
    text-align: center;
}


.nome{
    max-width: 100%;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;

}