form{
    display: flex;
    border: 2px solid black;
    flex-flow: column;
    align-items: center;
    
}
h1{
    text-align: center;

}
.group{
    display: flex;
    flex-flow: column;
    align-items: start;

}
.card{
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    border: 2px solid black;
    border-radius: 30px;
    padding: 20px;
    width: 500px;
    margin: 20px;
    background-color: cyan;
}